<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
    {{ end }}</title>

    <style>{{ $style := resources.Get "main.css"  }}</style>
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> -->
  </head>
  <body>
    <header>
        <h1 href="/">MATTHEW<br/>GROSSMAN</h1>
        <h4>product/infra BE engineer</h4>
        <img src="profile.png"/>
    </header>
    <main>
        {{ .Content }}
    </main>
  </body>
</html>
