<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mrgrossman.com</title>

    <style>{{ $style := resources.Get "main.css"  }}</style>
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"> -->
  </head>
  <body>
    <header>
        <h1 href="/">MATTHEW<br/>GROSSMAN</h1>
        <h4>product/infra BE engineer</h4>
        <img src="profile.png"/>
        <ul>
          <li><a href="https://github.com/matthewgrossman">
            {{ partial "icon" (dict "context" . "name" "fab github") }}
          </a></li>
          <li><a href="https://linkedin.com/in/matthewryangrossman/">
            {{ partial "icon" (dict "context" . "name" "fab linkedin") }}
          </a></li>
        </ul>
    </header>
    <main>
        {{ .Content }}
    </main>
  {{ partial "icon-data" . }}
  </body>
</html>
