<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ .Page.Title }}</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <header>
        <h1 href="/">MATTHEW<br/>GROSSMAN</h1>
        <h4>product/infra BE engineer</h4>
        <img loading="lazy" src="profile.avif"/>
        <ul>
          <li><a href="https://github.com/matthewgrossman">
            {{ partial "icon" (dict "context" . "name" "fab github") }}
          </a></li>
          <li><a href="https://linkedin.com/in/matthewryangrossman/">
            {{ partial "icon" (dict "context" . "name" "fab linkedin") }}
          </a></li>
        </ul>
    </header>
    <main>
        {{ .Content }}
    </main>
  {{ partial "icon-data" . }}
  </body>
</html>
